.popular-modal {
  top: 50%;
  left: 50%;
  width: auto;
  border: none;
  height: auto;
  outline: none;
  padding: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  background-image: -moz-linear-gradient(
    180deg,
    rgb(99, 110, 128) 0%,
    rgb(51, 37, 47) 100%
  );
  background-image: -webkit-linear-gradient(
    180deg,
    rgb(99, 110, 128) 0%,
    rgb(51, 37, 47) 100%
  );
  background-image: -ms-linear-gradient(
    180deg,
    rgb(99, 110, 128) 0%,
    rgb(51, 37, 47) 100%
  );
  box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.5);
}
.popular-modal-header {
  padding: 0 20px;
  text-align: center;
}
.popular-modal-body {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.popular-modal__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-modal-card {
  text-align: center;
  margin: 30px;
}
.popular-modal-card-image {
  position: relative;
}
.popular-modal-card-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}
.popular-modal-card-title h3 {
  font-weight: normal;
}
.popular-modal-card-price {
  margin: 5px 0 10px 0;
}
.popular-modal-card-price p {
  font-weight: 300;
  color: #ffffffb6;
}
.popular-modal-card-orderBtn {
  padding: 4px 30px;
  border-radius: 17px;
  background: rgb(51, 37, 47);
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 5px 0.5px rgba(255, 255, 255, 0.4);
  transition: box-shadow 0.2s ease-in;
}
.popular-modal-card-orderBtn:hover {
  box-shadow: 0 0 7px 0.5px rgba(255, 255, 255, 0.7);
}
.popular-modal-close {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1051;
  background: white;
  padding: 7px;
  border-radius: 50%;
}

/* --------------------------- Медиа запроса --------------------------- */
@media screen and (max-width: 500px) {
  .popular-modal {
    width: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 90%;
  }
  .popular-modal__row {
    flex-direction: column;
  }
  .popular-modal-card {
    margin: 15px 0;
  }
  .popular-modal-header {
    padding: 0 10px;
    font-size: 15px;
  }
  .popular-modal-card-orderBtn {
    width: 80%;
    padding: 5px 30px;
  }
  .popular-modal-close {
    top: 4%;
    right: 4%;
  }
}

@media screen and (max-width: 300px) {
}
