@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");
@import "reset.css";
@import "header.css";
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
a {
  color: #fff;
}

.container {
  max-width: 1150px;
  padding: 0 25px;
  margin: 0 auto;
}
.section__header {
  margin-top: 30px;
}
.section__header h1 {
  font-size: 50px;
}
.section__list {
  margin: 10px 0 40px 0;
}
.section__list ul {
  list-style-image: url("../images/list-marker.png");
  font-size: 20px;
  padding: 0;
  list-style-position: inside;
}
.section__list ul li {
  padding: 4px 0 4px 0;
}
.main-button {
  cursor: pointer;
  width: 450px;
  height: 85px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  box-shadow: 0 0 15px 3px white;
  border: 2px solid #000;
  border-radius: 60px;
  background: transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-button:hover {
  color: black;
  background: white;
  border: none;
  transform: scale(1.05);
}

/* -----------------------------------------------  Услуги -----------------------------------------------*/
.services__header {
  text-align: center;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
}
.services__header h1 {
  font-size: 50px;
}

/* -----------------------------------------------  Кондиционер -----------------------------------------------*/
.section_flex {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}
.condition__block {
  /* position: relative;
  bottom: 150px; */
  display: flex;
  justify-content: center;
}
.condition__bg {
  width: 555px;
  height: 170px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-image: url("../images/condition.png");
  background-repeat: no-repeat;
}
.condition__bg:hover {
  background-image: url("../images/condition-hover.png");
  -webkit-transform: scale(1.005) translateY(-5px);
  transform: scale(1.005) translateY(-5px);
}
.condition-order__block h1 {
  font-size: 50px;
}
.arrow__block {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  /* left: 50%;
  transform: translateX(-50%); */
}
.arrow__block svg {
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
}
.arrow__block svg:hover {
  transform: translateY(-5px);
}
.arrow__up {
  display: none;
  justify-content: center;
}

/* -----------------------------------------------  О нас -----------------------------------------------*/
.about-us_section {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.about-us__header {
  text-align: center;
  flex: 0 0 12%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.about-us__block {
  flex: 1 0;
}
.about__row-first {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.about__row-second {
  display: flex;
  justify-content: space-around;
}
.about__row-third {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.about__card {
  text-align: center;
}
.about__card_line {
  margin: 25px auto;
}
.about__card_icon {
  margin: 0 auto;
}

/* -----------------------------------------------  FOOTER -----------------------------------------------*/
.footer__container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}
footer {
  background: url("../images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 270px;
}
.footer_row {
  display: flex;
  align-items: center;
}
.footer__col40 {
  flex-basis: 40%;
}
.footer__col40.col-left {
  display: flex;
  align-items: center;
}
.footer__col40.col-right {
  position: relative;
}
.footer__col20 {
  flex-basis: 20%;
}
.footer__col20 img {
  max-width: 250px;
  margin: 0 auto;
}
.footer-menu ul {
  padding: 0;
}
.footer-menu li {
  list-style: none;
  font-size: 18px;
  padding: 7px 0;
  list-style-position: inside;
}
.footer-contacts {
  margin: 0 0 0 15px;
}
.contact {
  font-size: 18px;
  margin: 10px 0;
}
.contact span {
  display: flex;
  align-items: center;
}
.contact.mail span:before {
  content: url("/images/icons/mail.png");
  padding-right: 20px;
}
.contact.phone span:before {
  content: url("/images/icons/phone.png");
  padding-right: 20px;
}
.contact.place span:before {
  content: url("../images/icons/place.png");
  padding-right: 20px;
}
.partners__header {
  position: absolute;
  top: -50px;
  left: 100px;
  font-weight: 400;
}
.partners {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.partner {
  padding: 5px;
  display: flex;
  align-items: center;
  flex: 0 0 50%;
}

.footer__adaptive_contacts {
  display: none;
  width: 100%;
}
.footer__adaptive_header {
  text-align: center;
}
.footer__adaptive_header h5 {
  font-size: 25px;
  margin: 10px 0;
}
.footer__adaptive_main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px 0;
}
.footer__adaptive_policy {
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translate(-50%, -40px);
  white-space: nowrap;
  font-size: 12px;
}
.author {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -10px);
}
.author a {
  color: #ffffff40;
  font-size: 12px;
  font-family: "Neucha", cursive;
}

/* -------------------------------------- Media ----------------------------------------- */

@media screen and (max-width: 1100px) {
  .footer__col40 {
    flex-basis: 45%;
  }
  .footer__col20 {
    flex-basis: 10%;
    margin: 0 10px;
  }
  .footer__col20 img {
    max-width: 130px;
  }
  .contact {
    font-size: 16px;
  }
  .footer-menu li {
    font-size: 16px;
  }
}

@media screen and (max-width: 860px) {
  footer {
    height: 450px;
  }
  .footer__container {
    align-items: flex-start;
  }
  .footer_row {
    flex-direction: column-reverse;
  }
  .footer__col20 {
    display: none;
  }
  .footer__col40.col-left {
    display: none;
  }
  .partner {
    flex: 0 0 34%;
  }
  .partners__header {
    text-align: center;
    position: initial;
  }
  .partners__header h5 {
    font-size: 25px;
    margin: 10px 0;
  }
  .condition__block {
    position: initial;
    bottom: 0;
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    margin-top: 50px;
  }
  .condition-order__block {
    align-self: center;
  }
  .arrow__block {
    display: none;
  }
  .arrow__up {
    display: flex;
  }
  .footer__adaptive_contacts {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .condition__bg {
    background-size: contain;
  }
}

@media screen and (max-width: 500px) {
  .main-button {
    width: 100%;
    height: 60px;
  }
  .condition-order__block h1 {
    font-size: 30px;
  }
  .about__card {
    font-size: 13px;
  }
  .about__card_line {
    width: 100px;
  }
  .arrow__up {
    position: relative;
    bottom: 35px;
  }
  .condition-order__block {
    position: relative;
    top: 30px;
  }
  .services__header {
    transform: none;
    position: initial;
  }
}

@media screen and (max-width: 350px) {
  .section__header h1 {
    font-size: 30px;
  }
  .services__header h1 {
    font-size: 30px;
    white-space: nowrap;
  }
  .section__list ul {
    font-size: 16px;
  }
  .about__card_icon {
    max-height: 35px;
  }
  .about__card_line {
    width: 64px;
  }
}

/* ------------  fullpage css ---------------*/
.section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#section0 {
  background-image: url("../images/main-screen.jpg");
}
#section1 {
  background-image: url("../images/second-screen-with-model.jpg");
}
#section2 {
  background-image: url("../images/third-screen.jpg");
  background-position: bottom;
}
#section3 {
  background-image: url("../images/fourth-screen.jpg");
}

@media screen and (max-width: 700px) {
  #section1 {
    background-image: url("../images/second-screen.jpg");
  }
}
