@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&display=swap");
@import "reset.css";

html,
body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: black;
  overflow-x: hidden;
  height: 100%;
}
a {
  color: #fff;
}

.container {
  height: 100%;
  max-width: 1150px;
  padding: 0 25px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo {
  position: relative;
  top: 0;
  right: -50%;
  transform: translateX(-50%);
  max-width: 80px;
}
.header {
  text-align: center;
}
.header h1 {
  font-size: 60px;
}
main,
article {
  text-align: center;
}
.logo {
  margin: 20px 0;
  max-width: 120px;
}
.ref {
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid white;
  transition: all 150ms;
}
.ref:hover {
  color: rgba(255, 255, 255, 0.712);
}
@media screen and (max-width: 480px) {
  .header h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 340px) {
  .header h1 {
    font-size: 30px;
  }
  article {
    font-size: 14px;
  }
  .logo {
    max-width: 100px;
  }
}
