.services-modal-container {
  position: fixed;
  right: 0px;
  bottom: 0px;
  top: 0px;
  left: 0px;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-tap-highlight-color: transparent;
}
.services-modal {
  top: 50%;
  left: 50%;
  width: 390px;
  border: none;
  height: auto;
  outline: none;
  padding: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  background-image: -moz-linear-gradient(
    180deg,
    rgb(99, 110, 128) 0%,
    rgb(51, 37, 47) 100%
  );
  background-image: -webkit-linear-gradient(
    180deg,
    rgb(99, 110, 128) 0%,
    rgb(51, 37, 47) 100%
  );
  background-image: -ms-linear-gradient(
    180deg,
    rgb(99, 110, 128) 0%,
    rgb(51, 37, 47) 100%
  );
  box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.5);
}
.services-modal-content {
  padding: 5px 25px;
}
.conditioners__list-row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  font-weight: 300;
  position: relative;
}
.services-modal-header {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}
.custom-radio-button {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.conditioners__list-row label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-right: 40px;
}
.conditioners__list-row label::after {
  content: "";
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid rgba(255, 255, 255, 0.911);
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  position: absolute;
  right: 0;
  cursor: pointer;
  font-size: 16px;
}
.custom-radio-button:checked + label::after {
  background-size: contain;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
/* стили при наведении курсора на radio */
.custom-radio-button:not(:disabled):not(:checked) + label:hover::after {
  border-color: #fff;
}
/* стили для активного состояния radio (при нажатии на него) */
.custom-radio-button:not(:disabled):active + label::after {
  background-color: rgba(255, 255, 255, 0.4);
}
/* стили для radio, находящегося в фокусе */
.custom-radio-button:focus + label::after {
  box-shadow: 0 0 5px 0.2rem rgba(255, 255, 255, 0.25);
}

.services-form__block {
  margin: 10px 0 20px 0;
  width: 100%;
}
.services-form-formControl {
  width: 100%;
}
.services-form-formControl input {
  width: 100%;
  background: transparent;
  border: 1px solid white;
  border-radius: 40px;
  color: white;
  padding: 7px 10px;
}
.services-form-formControl input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.services-form-formControl input:focus {
  box-shadow: 0 0 5px 2.5px rgba(239, 239, 239, 0.5);
}

.services-form-formControl label {
  margin-bottom: 5px;
}
.services-form-formControl input::placeholder {
  font-weight: 300;
  color: #ffffffb6;
  font-size: 14px;
}
.services-form-formControl {
  display: inline-block;
}
.services-form-formControl label {
  display: block;
  text-align: center;
}
.services-form-formControl input::placeholder {
  color: rgb(192, 192, 192);
}

@media screen and (max-width: 500px) {
  .services-modal {
    overflow-y: scroll;
    max-height: 95%;
    width: 90%;
  }
}
@media screen and (max-width: 390px) {
  .services-modal-header {
    font-size: 13px;
  }
  .services-modal-content {
    padding: 0;
  }
  .conditioners__list-row label {
    font-size: 13px;
  }
}
@media screen and (max-height: 680px) {
  .services-modal-content {
    padding: 0;
  }
  .services-modal {
    overflow-y: scroll;
    max-height: 95%;
  }
}
